.main-top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.514);
}


.linkedIn-button {
    background-color: rgb(36, 36, 192);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}


.main-top-header div {
    display: flex;
    align-items: center;
}

.header-name-container span {
    margin: 16px 0px;
    font-style: italic;
    font-size: 15px;
    color: white;
}


.icons-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info-header {
    display: flex;
    justify-content: space-around;

}

.linkedin-header *:hover {
    cursor: pointer;

}

.devicon-linkedin-plain {
    margin: 2px
}