.main-top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.514);
}


.linkedIn-button {
    background-color: rgb(36, 36, 192);
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    margin: 5px;
    padding: 2px;
}


.linkedIn-button:hover p {
    color: rgb(36, 36, 192);
}

.linkedIn-button:hover i {
    color: rgb(36, 36, 192);
}

.linkedIn-button:hover {
    background-color: white;
    border: 2px solid rgb(36, 36, 192);
    padding: 0px;
}




.linkedIn-button p {
    font-weight: 600;
    margin: 0px;
    margin-top: 4px;
}


.main-top-header div {
    display: flex;
    align-items: center;
}

.header-name-container span {
    margin: 16px 0px;
    font-style: italic;
    font-size: 15px;
    color: white;
}


.icons-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info-header {
    display: flex;
    justify-content: space-around;

}

.linkedin-header *:hover {
    cursor: pointer;

}

.devicon-linkedin-plain {
    margin: 2px
}