h1 {
    font-size: 60px;
    font-weight: 900;
}

p, span {
    font-size: 15px;
}

h2 {
    font-size: 45px;
    margin-left: 15px;
}

h4 {
    font-size: 30px;
}

h6 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a,
button,
h1,
p,
span,
h6 {
    color: white;
    font-family: "Comfortaa", sans-serif;
}

h2, h4 {
    color: rgb(211, 211, 211);
    font-family: "Comfortaa", sans-serif;

}

i {
    margin: 10px;
    font-size: 22px;
    color: white;
}

a:hover {
    color: rgb(81, 81, 255);
    h1 {color: red;}
}

button {
    text-align: center;
}