@media (Max-width: 1200px) {

    .main-top-header {
        grid-template-areas: "b" "c";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .icons-header {
        grid-area: c;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contact-info-header {
        grid-area: b;
        border-bottom: 1px solid white;
    }

    .main-top-bottom {
        height: 500px;

    }

}

@media (Max-width: 750px) {

    h2 {
        display: none;
    }

    .main-top-bottom {
        height: 400px;

    }

    .icons-header {
        margin-left: 20px;
        margin-right: 20px;
    }

    i {
        margin: 5px;
        font-size: 17px;
    }
    
    a,
    h6 {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .phone-header h6 {
        display: none;
    }


}

@Media (Max-width: 560px) {
    h1 {
        font-size: 45px;
    }
    .main-top-bottom {
        height: 300px;

    }

    h4 {
        font-size: 25px;
    }
}

@Media (Max-width: 375px) {
    h4 {
        font-size: 20px;
    }

    h1 {
        font-size: 33px;
    }
    .main-top-bottom {
        height: 300px;

    }

    i {
        margin: 3px;
        font-size: 15px;
    }

    .icons-header {
        margin-left: 10px;
        margin-right: 10px;
    }
}

